/* CoverSection.css */

@keyframes moveBall {
  0% {
    transform: translateX(
      100%
    ); /* Départ de la balle à droite (hors de l'écran) */
  }
  50% {
    transform: translateX(-100%); /* Aller vers la gauche */
  }
  100% {
    transform: translateX(100%); /* Revenir à droite */
  }
}

.animate-moveBall {
  animation: moveBall 5s linear infinite; /* Animation continue et fluide */
}

.ball {
  margin-top: 2rem; /* Espacement sous le bouton */
  position: absolute;
  left: 100%; /* Position initiale à droite (hors de l'écran) */
}
